

#id_list_principal_menu_c1 , #id_list_principal_menu_c2, #id_list_principal_menu_c3,#id_list_principal_menu_c4
,#id_list_principal_menu_c5
{
	margin-top:8px;
	margin-left:20px;
}

#id_list_principal_menu_c1 li , #id_list_principal_menu_c2 li, #id_list_principal_menu_c3 li , #id_list_principal_menu_c4 li
, #id_list_principal_menu_c5 li
{
	width:300px;
	 height:100px;
	margin-bottom:10px;
}


#iddiv_logo
{
	margin-top:0px;
	height:195px;
}

#iddiv_logo h4
{
	margin-top:0px;
	
	margin-bottom:0px;
}

#iddiv_logo img
{
	margin-top:-10px;
	
	margin-bottom:0px;
}

.boton_mobile
{
	padding-top:7px;
	padding-bottom:7px;
	padding-left:7px;
	padding-right:7px;
	
}

.boton_mobile:hover{border:1px solid #00415e;background:#4b88b6;font-weight:bold;color:#fff;text-shadow:0 1px 1px #194b7e;background-image:-webkit-gradient(linear,left top,left bottom,from( #6facd5 ),to( #4272a4 ));background-image:-webkit-linear-gradient( #6facd5,#4272a4 );background-image:-moz-linear-gradient( #6facd5,#4272a4 );background-image:-ms-linear-gradient( #6facd5,#4272a4 );background-image:-o-linear-gradient( #6facd5,#4272a4 );background-image:linear-gradient( #6facd5,#4272a4 )}

.simbolo_espera
{display:none;  }

/**/





#popup {
	background:black;
/* 	 opacity:0.25; 
 */ 
	
	left: 0;
    position: absolute;
	text-align:center;
	
    top: 0;
    width: 100%;
	height:100%;
	
    z-index: 1001;
}


#popup
{
        opacity:0.89;
}  

.content-popup {

	border: 1px solid red;
	
    margin:0px auto;
    
    padding:10px;
    width:500px;
    min-height:250px;
    border-radius:4px;
    background-color:#25a3d4;
    box-shadow: 0 2px 5px #666666;
	
	
}

.close {
    position:relative;
    left:480px;
}




#iddiv_observ{
	display:none;
    position:absolute;
	background-color:#25a3d4;
	opacity:0.97;
	color:white; 
	text-shadow: #DC883F 0.1em 0.1em 0.2em;
	z-index:99;
		
	left:100px;
	top:50px;
	padding: 0px 25px 10px 25px;
	width: 700px;
}

#iddiv_messalert{
	display:none;
    position:absolute;
	background-color:#DC883F;
	opacity:1;
	color:black; 
	text-shadow: #DC883F 0.1em 0.1em 0.2em;
	z-index:100;
	
	
	
	left:343px;
	top:200px;
	padding: 0px 25px 10px 25px;
	width: 200px;
}

#iddiv_messalertsn{
	display:none;
    position:absolute;
	background-color:#DC883F;
	opacity:1;
	color:black; 
	text-shadow: #DC883F 0.1em 0.1em 0.2em;
	z-index:100;
	
	
	
	left:343px;
	top:200px;
	padding: 0px 25px 10px 25px;
	width: 200px;
}

#popupIngresar{
	
	background-color:#eeeeee;
	color:black; 
	display:none;
	height:235px;
    /*opacity:0.925;*/
	position:relative;
	
	
	/*text-shadow: black 0.1em 0.1em 0.2em;*/
	z-index:1002;
	
	margin:-5% auto;
	
	padding: 5px 10px;
	
	width:250px;
}
input: focus{
	background-color:#4272a4;
}
/*para resolucion de tablet*/
@media screen and ( max-height: 480px)
{
	#popupIngresar
	{
		margin:-12% auto;
	}
}

.divOcultos
{
	display:none;
}

#iddiv_Mensajeria{
    position:absolute;
	display:none;
	background-color:#25a3d4;
	/*opacity:0.925;*/
	color:white; text-shadow: black 0.1em 0.1em 0.2em;
	z-index:2;
	padding: 0px 10px;
}


#iddiv_Configuracion{
    /* position:absolute; */
	position:relative;
	background-color:#25a3d4;
	/*opacity:0.925;*/
	color:white; text-shadow: black 0.1em 0.1em 0.2em;
	z-index:199;
	padding: 0px 10px;
	 margin-left:75%;
	margin-top:-245px; 
	
}

#popupConsultar{
    position:absolute;
	/*background-color:#25a3d4;*/
	opacity:1;
	color:white; text-shadow: black 0.1em 0.1em 0.2em;
	z-index:1;
	padding: 0px 10px;
	font-size:12px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family:helvetica;
	/*padding:20px;*/
}

#transition {
	position:relative; z-index:3;
	display:block; float:left;
	width:420px; 
	height:400px;
	overflow:auto;
}

.scroller {
	position:absolute; z-index:3;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
	height:2000px;
}

.scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

/*---------------------------------------*/

#iddiv_w_ingresando{
	/* background-color:#25a3d4; */
	/*position:fixed;
	z-index:1001;
	display:block;
	width:46px;
	height:46px;
	left:49%;
	top:246px;
	*/
	left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	height:auto;
	
	 z-index: 1001;
}



.scrollerc {
	position:absolute; z-index:3;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	padding:0;
	width:100%;
	/*height:1300px;*/
	/*height:589;*/
}

.scrollerp {
	position:absolute; z-index:3;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	padding:0;
	width:100%;
	/*height:1300px;*/
	/*height:589;*/
}

.scrollero {
	position:absolute; z-index:3;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	padding:0;
	width:100%;
	/*height:1300px;*/
	/*height:589;*/
}

.scrollerc ul {
	list-style:none;
	padding:0;
	margin:0;
	/*text-align:center;*/
}

#topLoader{
	display:none;
    position:absolute;
	/*background-color:#25a3d4;*/
	opacity:0.925;
	/*color:white; text-shadow: black 0.1em 0.1em 0.2em;*/
	z-index:10;
	
	/*margin-top: 10px; 
	margin-right; 10px; 
	margin-bottom: 10px; 
	margin-left: 10px;
	
	padding: 0px 10px;
	*/
}
